<h2 id="title">STATIC</h2>

<T @id="dummy.welcome">
  <:name>Zoe</:name>
</T>

<T @id="dummy.paragraph">
  <:link>
    <a href="https://www.emberjs.com">ember.js</a>
  </:link>
  <:component>
    <TestComponent @text="Explore ember.js"/>
  </:component>
</T>

<h2 id="title">DYNAMIC</h2>

<T @id="dynamic.dummy.welcome">
  <:name>Tomster</:name>
</T>

<T @id="dynamic.dummy.paragraph">
  <:link>
    <a href="https://ember-intl.github.io/ember-intl/">ember-intl</a>
  </:link>
  <:component>
    <TestComponent @text="Explore ember-intl"/>
  </:component>
</T>

{{outlet}}